a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_4938d317 a { text-decoration: none; }
#menu_4938d317_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4938d317_hr { background-color: #646464; height: 1px; border: none; }
#menu_4938d317_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4938d317_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4938d317_entry:hover span { color:#FFFFFF !important; }
		.menu_4938d317_mainMenuEntry { text-align: center; }
		.menu_4938d317_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_4938d317_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_4938d317 .mobileEntry { display: none; } 
		#menu_4938d317 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_4938d317 .mobileEntry { display: block; } 
			#menu_4938d317 .normalEntry { display: none; } 
		}
#button_263f8a00 { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#00893C;  }
#button_263f8a00:hover { background-color:#27AE60;  }
#button_263f8a00:hover span { color:#CDCDCD; }
#button_6f4409d4 { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#00893C;  }
#button_6f4409d4:hover { background-color:#27AE60;  }
#button_6f4409d4:hover span { color:#CDCDCD; }
#button_6cf5d1d2 { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#00893C;  }
#button_6cf5d1d2:hover { background-color:#22B4ED;  }
#button_6cf5d1d2:hover span { color:#CDCDCD; }
#button_8294f55 { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#00893C;  }
#button_8294f55:hover { background-color:#27AE60;  }
#button_8294f55:hover span { color:#CDCDCD; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_83d87bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background:none;  }
#container_60320bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#222222;  }
#container_60320bed_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_1383d4b1 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_1383d4b1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  }
#container_785dbb6 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_785dbb6_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_4938d317 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:44px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:64px;  }
.textstyle5 { font-size:36pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:62px; height:38px; left:72px;  }
.style6 { position:absolute; width:73px; height:38px; left:134px;  }
.textstyle7 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
#container_4a5a90a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:415px; background-color:#AA967B; background-image: url(rc_images/joshua_reddekopp_unsplash3_1024x968.jpg); background-position:center center; background-size:cover;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_6470dc24 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6470dc24_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 4px #000000;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle11 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle12 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle13 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
.textstyle14 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E; line-height: 1.5;  }
.textstyle15 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#222222;  }
#container_749be54d_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle17 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle18 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle19 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle20 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#container_459f1faa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_459f1faa_padding { margin: 10px; display: block;  }
.textstyle21 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_639a229a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_639a229a_padding { margin: 10px; display: block;  }
#container_10bc54f8 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_10bc54f8_padding { margin: 10px; display: block;  }
.textstyle22 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
.textstyle23 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_9663379 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_9663379_padding { margin: 10px; display: block;  }
.textstyle24 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#container_8f68c31 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_8f68c31_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 640px)
{
		#container_1383d4b1 * span { font-size:15pt;  }
		#menu_4938d317 { width:50px;  }
		#container_6470dc24 * span { font-size:24pt;  }
}
@media only screen and (max-width: 450px)
{
		#container_10bc54f8 { width:100%;  }
		#container_9663379 { width:100%;  }
		#container_8f68c31 { width:100%;  }
}
