@font-face {
    font-family: "inter";
    src: local(/font/Inter/Inter-VariableFont_slnt,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0 0 0 0;
    background-color: black;
}

#header {
    margin: 0% 0% 0% 6%;
    padding: 0% 0% 0% 0%;
    width: 88%;
}

#CV {
    width: 88%;
    background-color: gray;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin: 0% 0% 0% 6%;
    position: absolute;
    border-radius: 0.3rem;
    height: 600px;

    
}

#splash {
    object-fit;
}

#left {
    border: 1px solid black;
    display: inline-block;
    margin: 2% 0% 0% 1%;
    height: 90%;
    width: 42%;
    padding: 2% 2% 2% 2%;
    float: left;
    
}

#right {
    border: 1px solid black;
    display: inline-block;
    margin: 2% 1% 0% 0%;
    height: 90%;
    width: 45%;
    padding: 2% 2% 2% 2%;
    float: right;
}

#avatar {
   margin: 5% 0% 0% 0%;
   display: flex;
   align-items: center;
   justify-content: center;
   

}

#contact {
    width: 88%;
    background-color: green;
    height: 500px;
}



/*zone for responsive in phone*/
.smartphone_image {
    
    padding: 0px 0px 0px 0px;
}

h2, p {
    text-align: center;
    font-family: "inter", sans-serif; 
}